@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;0,800;0,900;1,400&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;400;700&display=swap");
:root {
  font-family: "Roboto", sans-serif;
}

body {
  margin-top: 1ch;
}

.product-container {
  margin-top: 2%;
}

#logo {
  width: 200px;
}

.image-product {
  height: 20rem;
  width: 20rem;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  position: relative;
}

.image-product img {
  height: 20rem;
  width: 20rem;
  -o-object-fit: contain;
     object-fit: contain;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
}

.product-details {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*
    h2{
        position: relative;
        left: 100%;
    }
    */
}

.product-details h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-variant: small-caps;
  float: left;
}

.rating-total p {
  display: inline-block;
  font-weight: 700;
}

.rating-total i {
  display: inline-block;
  color: #f4b70b;
}

.category_product-details {
  color: gray;
  font-weight: 200;
  font-style: italic;
  margin-top: auto;
}

.nav-link {
  color: #3c2b62;
  border-radius: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-variant: small-caps;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #3c2b62 !important;
  color: #e4c1f9;
}

#price {
  display: inline;
}

#price h2 {
  float: left;
}

#price h3 {
  color: grey;
  font-style: italic;
  float: left;
}

.add-to-basket_button {
  background-color: #3c2b62;
  color: white;
  margin-top: auto;
}

.add-to-basket_button:hover {
  color: #e4c1f9;
  background-color: #543b8a;
}

.product-comments {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-comments h2 {
  margin-left: 3rem;
  font-family: "Roboto Condensed", sans-serif;
  font-variant: small-caps;
}

.comment {
  background-color: #eaeaea;
  border-radius: 8px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.comment h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.comment .comment-text {
  font-family: "Roboto Condensed", sans-serif;
}

.date-comment {
  color: #666666;
  font-style: italic;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: auto;
}

.submit-comment {
  padding: 1.5rem;
  background-color: blanchedalmond;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.submit-comment .form-range {
  width: 25%;
}
/*# sourceMappingURL=style.css.map */